@model fantasyFootball.Models.PlayersModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PlayersModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlayerFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlayerFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlayerLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlayerLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfessionalTeamName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfessionalTeamName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PassingYards)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PassingYards)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PassingTDs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PassingTDs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PassingInts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PassingInts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RushingYards)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RushingYards)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RushingTDs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RushingTDs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Receptions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Receptions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReceivingYards)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReceivingYards)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReceivingTDs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReceivingTDs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FumblesLost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FumblesLost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TwoPtConv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TwoPtConv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PointAfterAttempts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PointAfterAttempts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FGMade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FGMade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sacks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sacks)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FumbleRecoveries)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FumbleRecoveries)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ForcedFumbles)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ForcedFumbles)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Safeties)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Safeties)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DefensiveTDs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DefensiveTDs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpecialTeamsTDs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpecialTeamsTDs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalFantasyPoints)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalFantasyPoints)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FantasyTeamModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FantasyTeamModel.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
