@model fantasyFootball.Models.PlayerInfoViewModel

<div class="container">
    <br>
    <div class="row">
        <img src="http://via.placeholder.com/200x200" alt="Player Img" class="img-rounded col-sm-3">
        <br>
        <br>
        <dl class="dl-horizontal col-sm-4 indvPlayerNT">

        </dl>
        <dl class="dl-horizontal col-sm-4 indvPlayerPos">

        </dl>
    </div>
    <br>
    <br>
<table id="example" class="table table-striped table-bordered col-sm-10" cellspacing="0" width="100%">
        <caption class=""><strong>Fantasy Outsiders Stats</strong></caption>
        <thead>
        @foreach(var item in Model.FootBallO)
        {       
                @if(item.Position == "qb")
                {
                <tr>
                    <th>DYAR</th>
                    <th>DYAR Rank</th>
                    <th>QBR</th>
                    <th>QBR Rank</th>
                    <th>Yards</th>
                    <th>Effective Yards</th>
                    <th>TDs</th>
                    <th>INTs</th>
                    <th>FLs</th>
                </tr>
                }
                @if(item.Position == "rb")
                {
                <tr>
                    <th>DYAR</th>
                    <th>DYAR Rank</th>
                    <th>Succes Rate</th>
                    <th>Yards</th>
                    <th>Effective Yards</th>
                    <th>TDs</th>
                    <th>FLs</th>
                </tr>
                }
                @if(item.Position == "wr" || item.Position == "te")
                {
                <tr>
                    <th>DYAR</th>
                    <th>DYAR Rank</th>
                    <th>Passes</th>
                    <th>Catch Rate</th>
                    <th>Yards</th>
                    <th>Effective Yards</th>
                    <th>TDs</th>
                    <th>FLs</th>
                </tr>
                }
                @if(item.Position == "k")
                {
                <tr>
                    <th>FGs/XP Ratio</th>
                </tr>
                }
                @if(item.Position == "def")
                {
                <tr>
                    <th>DEF DVOA</th>
                    <th>DEF DVOA Rank</th>
                    <th>DEF DAVE</th>
                    <th>DEF DAVE Rank</th>
                    <th>DEF Pass Rank</th>
                    <th>DEF Rush Rank</th>
                </tr>   
                }
                 @if(item.IsNull == "true")
                {
                    <h2>Football Outsiders does not have any data for this player</h2>
                }
        }
        </thead>
        <tbody>
        @foreach(var item in Model.FootBallO)
        {
            @if(item.IsNull == "true")
            {
                <h2>Football Outsiders only ranks the top 25 for this position</h2>
            }
            @if(item.Position == "qb")
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DYAR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DYARRank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QBR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QBRRank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Yards)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EYards)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TDs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.INTs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FumblesLost)
                </td>
            </tr>
            }
            @if(item.Position == "rb")
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DYAR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DYARRank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SuccessRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Yards)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EYards)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TDs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FumblesLost)
                </td>
            </tr>
            }
            @if(item.Position == "wr" || item.Position == "te")
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DYAR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DYARRank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Passes)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.CatchRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Yards)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EYards)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TDs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FumblesLost)
                </td>
            </tr>
            }
            @if(item.Position == "k")
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FGXPRatio)
                </td>
            </tr>
            }
            @if(item.Position == "def")
            {
             <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DefDVOA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DefDVOARank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DefDAVE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DefDAVERank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DEFPassRank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DEFRushRank)
                </td>
            </tr>   
            }
        }
        </tbody>
</table>
<table id="example" class="table table-striped table-bordered col-sm-10" cellspacing="0" width="100%">
        <caption class=""><strong>Fantasy Pros Projections</strong></caption>
        <thead>
        @foreach(var item in Model.FantasyPros)
        {
            @if(item.Position == "qb")
            {
            <tr>
                <th>Passing Attempts</th>
                <th>Completions</th>
                <th>Passing Yards</th>
                <th>Passing TDs</th>
                <th>INTs</th>
                <th>Rushing Attempts</th>
                <th>Rushing Yards</th>
                <th>Rushing TDs</th>
                <th>FLs</th>
                <th>Fantasy Points</th>
            </tr>
            }
            @if(item.Position == "rb" || item.Position == "wr")
            {
            <tr>
                <th>Rushing Attempts</th>
                <th>Rushing Yards</th>
                <th>Rushing TDs</th>
                <th>Receptions</th>
                <th>Receiving Yards</th>
                <th>Receiving TDs</th>
                <th>FLs</th>
                <th>Fantasy Points</th>
            </tr>
            }
            @if(item.Position == "te")
            {
            <tr>
                <th>Receptions</th>
                <th>Receiving Yards</th>
                <th>Receiving TDs</th>
                <th>FLs</th>
                <th>Fantasy Points</th>
            </tr>
            }
            @if(item.Position == "k")
            {
            <tr>
                <th>Feild Goals Made</th>
                <th>Feild Goals Attempted</th>
                <th>Extra Points Made</th>
                <th>Fantasy Points</th>
            </tr>
            }
            @if(item.Position == "def")
            {
            <tr>
                <th>Sacks</th>
                <th>INTs</th>
                <th>Fumble Recoveries</th>
                <th>Safetys</th>
                <th>Points Allowed</th>
                <th>Fantasy Points</th>
            </tr>
            }
        }
        </thead>
        <tbody>
        @foreach(var item in Model.FantasyPros)
        {
            @if(item.Position == "qb")
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PassAtt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassCMP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassYards)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassTDs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassINTs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RushAtt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RushYards)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RushTDs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FumblesLost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FantasyPoints)
                </td>
            </tr>
            }
            @if(item.Position == "rb" || item.Position == "wr")
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RushAtt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RushYards)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RushTDs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Receptions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceivingYards)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceivingTDs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FumblesLost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FantasyPoints)
                </td>
            </tr>
            }
            @if(item.Position == "te")
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Receptions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceivingYards)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceivingTDs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FumblesLost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FantasyPoints)
                </td>
            </tr>
            }
            @if(item.Position == "k")
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FGs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FGAttempted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.XPTs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FantasyPoints)
                </td>
            </tr>
            }
            @if(item.Position == "def")
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Sacks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.INTs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FRs)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.Safetys)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PointsAllowed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FantasyPoints)
                </td>
            </tr>
            }
        }
        </tbody>
</table>
<br>
<footer>
    <script src="~/js/PlayerInfo.js"></script>
</footer>